@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 100vh;
}

.text-blue {
  color: #132766;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.bg-card-color {
  background: #f5f2ff;
  box-shadow: 2px 4px 8px 3px rgba(19, 39, 102, 0.25);
  border-radius: 10px;
}

.button1 {
  background: #a1cafe;
}
