@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 100vh;
}

.text-blue {
  color: #132766;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.bg-card-color {
  background: #f5f2ff;
  box-shadow: 2px 4px 8px 3px rgba(19, 39, 102, 0.25);
  border-radius: 10px;
}

.button1 {
  background: #a1cafe;
}

.nodes-color {
  background: linear-gradient(180deg, #b1d1fa 0%, #81a4d1 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  background: #c7daff;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
